<br>
<font color="#3385ff">
    <h1>Editing Article</h1>
</font>
<hr>
<br>
<%= render 'form', article: @article %>
<br>
<br>
<%= link_to 'Back', @article %> 
<hr>
<button type="button" class="btn btn-outline-danger">
    <%= link_to 'Delete Article', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
</button>